.body {
    width: 99%;
    height: 85vh;
    padding: 5px;
    display: flex;
    flex-direction: row;
    margin: 10px 0 0 0;
}

.playlists{
    width: 66%;
}

.information{
    width:33%;
    margin: 0 0 0 10px ;
}