<div class="body">

    <div class="information">
        <h2> hosted by dan powers !</h2>
        <p> there's likely some rules </p>
        <p> maybe some tips and tricks </p>

        <h3> karaoke hall of fame </h3>
        <p> dj cahl, duh </p>

        <ol>
            <li> collect all playlists </li>
            <li> what information is needed </li>
        </ol>
    </div>

    <div class="playlists">
        <h2> previous party playlists </h2>
        <app-playlist></app-playlist>
    </div>

</div>