
<nav class="nav-bar">

  <div class="title">
      <h3> MCP2020 Celebrates !! </h3>
  </div>

  <button class="nav-button" routerLink="/desk"> 
    Your DUSP from Home Desk
  </button>

  <button class="nav-button" routerLink="/snack">
    Monday Dinner
  </button>

  <button class="nav-button" routerLink="/speaker" disabled> 
    Tuesday Karaoke
  </button>
  
  <button class="nav-button" routerLink="/clock" disabled> 
    Wednesday Power Hour
  </button>
  
  <button class="nav-button" routerLink="/award" disabled>
    Thursday Paper Plate Awards
  </button>    

</nav>

<router-outlet></router-outlet>