<div>
<nav class="nav-bar">

  <div class="title">
      <h3> MCP2020 Celebrates !! </h3>
  </div>

  <!-- <app-side-nav-toggler></app-side-nav-toggler> -->

  <button class="nav-button" routerLink="/desk"> 
    Your DUSP from Home Desk
  </button>

  <button class="nav-button" routerLink="/snack">
    Dinner
  </button>

  <button class="nav-button" routerLink="/speaker"> 
    Karaoke
  </button>
  
  <button class="nav-button" routerLink="/clock"> 
    Power Hour
  </button>
  
  <button class="nav-button" routerLink="/award">
    Paper Plate Awards
  </button>    

</nav>

  <div class="body">
    <router-outlet></router-outlet>
    <ng-container class="sidenav">
      <app-side-nav></app-side-nav>
      <app-side-nav-toggler></app-side-nav-toggler>
    </ng-container>
  </div>
</div>

